@keyframes float{
    0% { top: 0; }
    50% { top: 10px; }
    100% { top: 0; }
}

body {
    text-align: center;
    color: white;
    background: rgb(100, 149, 237);
}

h1 {
    margin-top: 0;
    text-shadow: 2px 2px 4px #000000;    
    font-size: 80px;
}

h3 {
    text-shadow: 2px 2px 4px #000000;    
}

#big-profile-img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    position: relative;
    animation-name: float;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
